.gridster li header {
	background: none;
	border-bottom:0 none;
	color:#000;
	font-size:16px;
	opacity:0.6;
}
.gridster li:hover header { 
	font-size:12px;
	background: #333;
	color:#fff;
    
	
}
table li div[rel="content"] {
	display:none;
}

table li:hover div[rel="content"] {
	display:block;
}
.gridster li[task-id] {
	border :1px solid #777;
}
